* { box-sizing: border-box;
  }

#servicename {
  width: 30%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 80px;
  margin-left: 640px;
  margin-bottom: 40px;
  margin-top: 45px;
  font-family: verdana;
  font-style: italic;
  font-weight: bolder;
}

#servdef {
  width: 70%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 25px;
  margin-left: 270px;
  margin-bottom: 50px;
  margin-top: 5px;
  font-family: verdana;
  font-style: italic;
}


.cuadro {
  font-family: verdana;
  width: 27%;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  margin-left: 85px;
  float: left;
  padding-bottom: 50px;
  padding-top: 50px;
}

.servicio {
  width: 50%;
  /* border: black thin solid; */
  text-align: center;
  margin-left: 120px;
  margin-top: 10px;
  font-weight: bold;
}

.servicioexp {
  width: 70%;
  /* border: black thin solid; */
  text-align: center;
  margin-left: 70px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
